@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';

$gutter: 0em;

@import '../bower_components/neat/app/assets/stylesheets/neat';

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	color: white;
	background-color: rgb(254,246,235);
	font-family: sans-serif;
}

$mobile: 700px;

$grid-columns: 7;

/**************************
General Styling
**************************/

.container {
	@include outer-container(980px);
	padding-top: 1%;
}

* {
	outline: none;
}

sup {
	vertical-align: super;
}

/**************************
Display Styling
**************************/

header {
	width: 60%;
	margin: 2em auto;
	color: black;
	text-align: center;
}

.intro {
	font-size: 2em;
	font-family: sans-serif;
}

.display {
	background-color: rgba(82,85,100,1);
	height: 80px;
	@include span-columns(7);
	@include clearfix;
	text-align: right;
	padding-right: 1.5em;
	font-family: sans-serif;
	border-radius: 10px 10px 0 0;
	border: 1px solid black;
}

.display-output {
	font-size: 4em;
	line-height: 80px;
}

/**************************
Button Styling
**************************/

button {
	@include pad;
	color: black;
	height: 60px;
	@include span-columns(1);
	padding: 0;
	border-style: none;
	border: 1px solid black;
	font-size: 1.7em;
	background-color: rgba(190,185,181,1);
}

button:hover {
	box-shadow: inset 0 0 5px rgba(0,0,0,.6);
}

.zero {
	@include span-columns(2);
}

.calc-button-equals {
	border-bottom-right-radius: 10px;
}

.tanh {
	border-bottom-left-radius: 10px;
}

.calc-button-divide, 
.calc-button-multiply, 
.calc-button-minus,
.calc-button-plus,
.calc-button-equals {
	@include omega();
	background-color: rgb(150,192,206);
	color: black;
}

.calc-button-clear,
.plus-minus,
.calc-button-modulus,
.scientific {
	background-color: rgb(116,130,143);
	color: white;
}

.scientific {
	font-weight: 100;
}

.memory {
	background-color: rgb(194, 91, 86);
	color: rgb(254,246,235);
	@include span-columns(1 of 5);
	@include omega();
}

.memory:first-child {
	border-bottom-left-radius: 10px;
}

.memory:last-child {
	border-bottom-right-radius: 10px;
}

.memory-container {
	@include span-columns(5);
	@include shift(1);
}

@include media(max-width $mobile) {
	$grid-columns: 12 !global;

	.scientific {
		display: none;
	}
	.memory {
		display: none;
	}
	.container {
		padding: 8%;
	}
	button {
		@include span-columns(3);
	}
	.zero {
		border-bottom-left-radius: 10px;
		@include span-columns(6);
	}
}